html, body {

    margin: 0;
    padding: 0;

    overflow-x: hidden;

    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #333;
    background: #f5f5f5;

    scroll-behavior: smooth;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background: linear-gradient(0deg, rgba(200, 200, 200, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%);
    
    z-index: 100;

    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    height: 75%;
}

#logo_img{
    height: 100%;
    object-fit: cover;
}

#isotipo{
    font-family: Compact;
    font-style: italic;
    font-size: 25px;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 400px;
}

/* a reset */

a {
    text-decoration: none;
    color: inherit;
}

#nav_items{

    color: white;
    text-decoration: unset;

    font-weight: 600;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    margin-right: 20px;
}

#nav_items a:hover{
    color: #FF8D3A;
}

.row{
    width: 100vw;
    height: 100vh;
}

#hero_section{
    background-image: url(../assets/img/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

#hero_text{

    color: white;
    width: 50%;
    font-family: 'Josefin Sans', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-left: 100px;
    padding-top: 200px;
}

#hero_text h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

#hero_text p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.round_btn{
    background: #FF8D3A;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.round_btn:hover{
    background: #333;
    color: #f5f5f5;
}

#info_section{
    background-image: url(../assets/img/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

#chart_gallery{

    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    padding: 100px;
}

.chart_card{

    background-image: url(../assets/img/fondo.png);
    border: 1px solid #333;
    background: #f5f5f5;
    border-radius: 20px;

    width: 300px;
    height: 100%;

    overflow: hidden;

}

.card_bottom{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #f5f5f5;
    width: 100%;
}

.nota{
    width: 100vw;
    min-height: 100vh;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}

.nota h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.nota p{
    width: 50%;
    margin: 50px;
}


.nota .left{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.author {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.author_image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.author_info{
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    
}

.author_name{
    font-size: 20px;
    font-weight: 700;
    color: #FF8D3A;
}

.author_affiliation{
    font-size: 16px;
    font-weight: 400;
    color: #5e5e5e;
}

.chart{
    border-radius: 14px;
    object-fit: cover;
    overflow: hidden;
}

.chart_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.chart_legend{
    margin: 20px;
    color: #333;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
}

.chart_legend p{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #5e5e5e;
    margin: 2px;
}

#chart_mapa{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    background: white;
}

#chart_mapa_extra{
    margin-top: 20px;
}

.slider_bubble {
    background: #FF8D3A;
    color: white;
    padding: 4px 12px;
    position: relative;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
}

#footer_container{

    background-color: #FF8D3A;
    color: #333;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;

    padding: 100px;
}

#footer_text{


}


#footer_contents{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    height: 200px;
}

#footer_chart_links{
    display: flex;
        flex-direction: column;
        align-items: left;
        flex-wrap: nowrap;
}

#footer_links{
    height: 100%;   
}

#footer_icons{

    margin-top: 120px;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    gap: 20px;
}
